<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Status</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <!-- <ion-list>
      <ion-item id='row1'>
        <ion-label><strong>FROM  :</strong></ion-label>
        <ion-label *ngFor="let coach of coaches"><strong>{{ coach.COACH }}</strong></ion-label>
      </ion-item>
      <ion-item *ngFor="let route of routes">
         <ion-label><strong>{{ route.STN }}</strong></ion-label> 
      </ion-item>
      <ion-item *ngFor="let coach of status_CoachwiseArray">
        <ion-label *ngFor="let val of coach.ST_COACH">{{val.STATUS}}</ion-label> 
      </ion-item> 
    </ion-list>  -->
    <!-- <ion-label *ngFor="let coach of coaches">
                 {{test1(route,coach)}}  
        </ion-label> -->
      
    
    <ion-grid>
      <ion-row justify-content-center>
       <ion-col col-1 align=left><strong>FROM</strong></ion-col>   
       <ion-col align=center *ngFor="let coach of coaches"><strong>{{ coach.COACH }}</strong></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-1 >
        <ion-row align=left *ngFor="let route of routes"><strong>{{ route.STN }}</strong></ion-row>    
      </ion-col>
     <ion-col >
        <ion-row *ngFor="let coach of status_CoachwiseArray">
           <ion-col align=center *ngFor="let val of coach.ST_COACH">{{val.STATUS}}</ion-col>
        </ion-row>
      </ion-col>
   </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
