<script type="text/javascript" src="/tablesorter/dist/js/jquery.tablesorter.js"></script>
<script src="assets/js/occupancy.js"></script>
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Occupancy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="md" >
<ion-scroll scrollX="true"  scrollY="true" >  
  <ion-card>
    <table id="myTable" class="tablesorter" padding width=100% >
      <thead>
        <tr height=40px>
          <td align=center>FROM-TO</td>
          <td *ngFor="let td of coach" align=center>{{td.COACH_ID}}</td>
          <td align=center>TOTAL</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tr of finalArr">
          <td align=center>{{tr.key}}</td>
          <td *ngFor="let cnt of tr.value" align=center padding>{{cnt}}</td>
        </tr>
      </tbody>
    </table>
    <script>

    </script>
  </ion-card>
  </ion-scroll>
</ion-content>