
page-chart {

    ion-grid.grid-full {
        height: 100%;
        justify-content: center;
        // ion-row {
        //   height: 33.33%;
        // }
      }

//  .toolbar-title{

//     font-family: 'roboto-medium';
//     font-size:30px; 
//     color:#fff;
//    } 

// .toolbar-md {
//     height:50px;
// } 


// .toolbar-title-md {
//     padding: 0 0px;
//     font-size: 2rem;
//     font-weight: 500;
// }

//   .dirtyClass {
//        color: red;
//     }

// .card{
//   background-color: transparent;
// }




// .back-button.show-back-button {
//     display: inline-block;
//     color: aliceblue;
// }

// .button-md {
//     background-color: #488aff !important;
// }
 
}

//  page-showchart {

//    .table{
//       border-collapse: collapse;
//     border-spacing: 0;
//     width: 600px;
//     border: 1px solid black;
 

//    }

//    .left-button{
//     float: left;
//     color: aliceblue;
//     text-align: left;
//     display: block;
//     margin-top: 15px;
// }

//   .right-button{
//     float: right;
//     color: aliceblue;
//     text-align: left;
//     display: block;
//     margin-top: 15px;
// }

// .coach-title{
//      display: inline-block;
// }

//    .slide-zoom {
//        background-color : #8e8c8c;
//        color : white;
//    }

//    td, th {
//     padding: 0;
//     text-align: left;
//     font-size: 12px;
//     padding: 5px;
// }

//   .dirtyClass {
//        color: red;
//     }

// .toolbar-background-md {
//     border-color: #b2b2b2;
//     background: transparent;
// }


//   .label-danger {
//             background-color: transparent;
//             color : rgb(165,42,42);
//             font-size: 14px;
//             font-style: italic;
// }

// .item.item-input {
//     background-color: transparent;
//     font-weight: normal;
//     -moz-border-radius: 40px;
//     border-radius: 40px;
//     border:solid 1px #8fa8e8;
//     width : 100%;
   

//       .text-input:-moz-placeholder { /* Firefox 18- */
//         color: 	#7a9cf1 !important;   
//         }
         
//         .text-input::-moz-placeholder {  /* Firefox 19+ */
//         color: 	#7a9cf1 !important;  
//         }
         
//         .text-input:-ms-input-placeholder {  
//         color: 	#7a9cf1 !important;  
//         }

//          .text-input::-webkit-input-placeholder {
//         color: 	#7a9cf1 !important; 
//         }
//   }

//   .search{
//     padding : 0px 0px 0px 5px;
//   }



//   .item.item-select {
//     background-color: transparent;
//     font-weight: normal;
//     -moz-border-radius: 40px;
//     border-radius: 40px;
//     border:solid 1px #8fa8e8;
//     padding: 0px 0px 0px 25px;
//     width : 100%;


//    .text-input-md {
//     margin: 0px 8px 0px 8px;
// } 

  
//   }
//    .item.item-block {
//     background-color: transparent;
//     font-weight: normal;
//     -moz-border-radius: 40px;
//     border-radius: 40px;
//     min-height:36px;
//   }
  
//    .send-data,
//    .get-data{
//     color: white;
//     font-size: 11px;
//     text-align: center;
//     padding:0;
//     margin-top: -5px;
//  }

//   .train {
//     padding : 5px 5px 5px 25px;
//   }

//   .searchbar {
    
//     width : 100%;
//     box-shadow: none;
//     border: 0;
//     color: white;
//     font-size: 14px;
//     border-radius: 800px;
//     padding-left: 38px;
//     width: 150px;
//     transition: all 0.3s cubic-bezier(0.2, 0.85, 0.2, 1.1)
//   }
//    .list {
//     background-color: transparent;
//     -moz-border-radius: 40px;
//     border-radius: 40px;
    
//   }
// .item >.item-inner{
//    border-bottom-color: transparent !important;
//    height : 50%;
//  }

//  .w3-black, .w3-hover-black:hover {
//     color: #fff!important;
//     background-color:deepskyblue;
//     margin-left:10px;
// }
// .w3-xlarge {
//     font-size: 24px!important;
// }

// .w3-large {
//     font-size: 25px!important;
// }

// .w3-circle {
//     border-radius: 50%;
// }

// .w3-ripple {
//     transition: opacity 0s;
// }

// .item-right {
//   float:right;
//   margin-right : 10px;
// }

// .select-text {
//     color: #333;
// }

// .select-md .select-icon {
//     color: #333;
// }
//  }

//  page-loadedChart {

//     .toolbar-title{

//     font-family: 'roboto-medium';
//     font-size:30px; 
//     color:#818181;
//    } 

//    .table{
//       border-collapse: collapse;
//     border-spacing: 0;
//     width: 600px;
//     border: 1px solid black;
 

//    }

//    td, th {
//     padding: 0;
//     text-align: left;
//     font-size: 12px;
//     padding: 5px;
// }

//    .item {
//      background-color: transparent;
//    }
//    .card {
//      background-color: transparent;
//      border-radius: 20px;
//      border: deepskyblue;

//    }
    
//     .item >.item-inner{
//    border-bottom-color: transparent !important;
//    height : 50%;
//  }

//  .back-button.show-back-button {
//     display: inline-block;
//     color: aliceblue;
// }
//  }

//  page-confirmChart {

//       .table{
//       border-collapse: collapse;
//     border-spacing: 0;
//     width: 600px;
//     border: 1px solid black;
 

//    }

//    td, th {
//     padding: 0;
//     text-align: left;
//     font-size: 12px;
//     padding: 5px;
// }

// .back-button.show-back-button {
//     display: inline-block;
//     color: aliceblue;
// }

//  }

//  page-eft {
//      ion-scroll {
//     position: inherit;
//     display: block;
//     white-space: nowrap;
// }

// .button-md {
//     background-color: #488aff !important;
// }

// .select-md .select-icon {
//     position: fixed;
//     width: 12px;
//     margin-top: -9px; 
// }

// .ion-row{
//     height:30px;
// } 

    
//  .toolbar-title{

//     font-family: 'roboto-medium';
//     font-size:30px; 
//     color:#818181;
//    } 

// .toolbar-md {
//     height:50px;
// } 

// .item-md .item-button {
//     padding: 0 .6em;
//     height: 25px;
//     font-size: 1.2rem;
//     width: 100%;
// }



//   .label-danger {
//             background-color: transparent;
//             color : rgb(165,42,42);
//             font-size: 14px;
//             font-style: italic;
//     }

//     .label-md {
//      margin: 0px 0 0; 
// }

// .item.item-input {
//     background-color: transparent;
//     font-weight: normal;
//     -moz-border-radius: 40px;
//     border:solid 1px #8fa8e8;
//     font-family: 'ubuntu-light';
//     font-size:14px;
//     color: aliceblue;


//       .text-input:-moz-placeholder { /* Firefox 18- */
//         color: 	#7a9cf1 !important;  
//         }

//         .text-input::-moz-placeholder {  /* Firefox 19+ */
//         color: 	#7a9cf1 !important;  
//         }

//         .text-input:-ms-input-placeholder {  
//         color: #7a9cf1 !important;  
//         }

//          .text-input::-webkit-input-placeholder {
//         color:	#7a9cf1 !important;
//         }

// }

// .back-button.show-back-button {
//     display: inline-block;
//     color: aliceblue;
// }

// .cris-input {
// background-color: transparent;
// }


// .item >.item-inner{
//    border-bottom-color: transparent !important;
//    height : 50%;
//  }

// .button-round-md {
//    padding: 2.7rem;
//    border: solid 3px #8fa8e8;}


// .text-input-md {
//     margin: 0px 8px 0px 8px;
// }


// .item-md ion-icon[item-left] {
//     margin-top: 0;
//     margin-bottom: 0;

// }

// .item-block{
//     min-height:36px;
// }


// .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
//     border-bottom-color: transparent !important;
//     box-shadow: none !important;
    
// }

// .list-md .item-input:last-child{
//     border-bottom:solid 1px #8fa8e8;
// }




// .label-md {
//     margin: 0 8px 0 0;
//     display: inline-block;
// }

// .item-md.item-input.input-has-focus .item-inner,
// .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child,
// .list-md .item-input.input-has-focus:last-child{
//     box-shadow:none !important;
   
// }

// .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
//    border:solid 1px #8fa8e8;
   
// }

// .list-md .item-input.input-has-focus:last-child{
//     border-bottom:solid 1px #8fa8e8 !important;
// }

// .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
//     border-bottom-color: none;
//     box-shadow: none;
// }

// ion-scroll .scroll-content {
//   top: 40PX;
//   bottom : 55px;}

// button{
//     background-color: transparent;
//     font-weight: normal;
//     -moz-border-radius: 40px;
//     border: solid 1px #8fa8e8;
//     font-family: 'ubuntu-light';
//     font-size: 18px;
//     color: aliceblue;
//     height: 36px;
// }

// .input-wrapper{
//     height:36px;
// }
//    .back-button{
//        display:inline-block;
//        color:#fff !important;
//    }

//   ion-col.col {
//     border: solid 1px #ccc;
//     margin-right: -1px;
//     margin-top: -1px;
// }  

// .row-first-child{
//     background:#8e8c8c;
//     color: #fff;
// }

// .select-md .select-icon {
//      position: initial;
//     width: 12px;
//     margin-top: -9px;
// }

// .coach-selector.select-md.select-icon.select-icon-inner{

//     /* position: initial; */
//     position: initial;
//     top: 50%;
//     left: 5px;
//     width: 0;
//     height: 0;
//     border-top: 5px solid;
//     border-right: 5px solid transparent;
//     border-left: 5px solid transparent;
//     color: #999;
//     pointer-events: none;
//     margin-top: 8px;
// }

// .select.select-md{
//     float : right;
// }

// ion-label.label.label-md {
//     font-size: 13px;
// }

//   }
 
//  .card-center{
//     margin-top: -50px;
//     position: relative;
//     top: 50%;
//     /* background: #f5f5f5 !important; */
//     border: 1px solid #ffffff;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//     /* outline: solid 1px #e2e2ee; */
//  }

//  .trainDetails {
//      border: 1px solid #ffffff;
//     box-shadow: none;
//     outline: solid 1px #e2e2ee;
//     background: #f5f5f5 !important;
//  }
 
//  .font-styling-label,
//  .font-styling{
//      font-family:ubuntu-regular;
//      font-size:18px;
//  }
 
 
//  .partition-line{
//      display:inline-block; 
//      width:1px; 
//      background:#6e8edc;
//  }
 
 
//  .button-inner{
//      height:auto !important;
//  }
 
//  ion-header .col{
//      margin-top: 5px;
//  }

//  .content-md {
//      position : relative !important;
//  }
// #menu1 .toolbar-background.toolbar-background-md,
//  #menu2 .toolbar-background.toolbar-background-md {
//     background: #8e8c8c;
// }

// #menu2 .toolbar-content.toolbar-content-md{
//     height:35px !important;
// }
// #menu1 .toolbar-title.toolbar-title-md,
// #menu2 .toolbar-title.toolbar-title-md {
//     font-size: 18px;
//     color: #fff;
//     font-weight: normal;
// }

// #menu2 .label.label-md,
// #menu1 .label.label-md  {
//     font-size: 15.5px;
//     font-family: roboto;
//     color: #444444;
// }
// #menu1 .list-md .item-block .item-inner,
// #menu2 .list-md .item-block .item-inner {
//     border-bottom: none;
// }

// #menu1 .signout-menu.item-inner,
//  #menu2 .signout-menu .item-inner
//    {
//        margin-left:34px;
//    }

//     .label-danger {
//             background-color: transparent;
//             color : rgb(165,42,42);
//             font-size: 14px;
//             font-style: italic;
// }

// button.syncbtn{
//  float: right;
//     height: auto;
//     background: transparent !important;
// }


// .borderRadius20{
//     border-radius:20px;
//     border-color: #8fa8e8;
// }


///Added by Debonil Ghosh

progress{
   // background: color($colors, light);
   // color: color($colors, primary);
    width: 100%;
   // height: 100%;
    /* background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    position: relative; */
}