
 @font-face {
  font-family: 'serif';
  src: url('../assets/fonts/ubuntu-bold-webfont.woff') format('woff'), url('../assets/fonts/ubuntu-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

* {
  font-family: 'serif';
} 

.popover-content {
    overflow: hidden !important;
}
.fixed_header{
    position:fixed;
    z-index: 999;
}
/// @prop - The minimum dimensions at which your layout will change,
/// adapting to different screen sizes, for use in media queries
$screen-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;
// .col{
//     padding: 0px;
// }