<ion-content overflow-scroll=true>
    <ion-card  *ngIf="!readonly" >
            <ion-list *ngIf="!this.passengerSelectorViewObj.isActive">
                <ion-card *ngFor="let item of rows" [hidden]="item._hidden" [color]="item.color" (press)="onItemPressed(item)">
                    <button ion-item [disabled]="item._isLocked" solid (tap)="item.toggleStatus()" padding>
                        <ion-icon name="checkmark-circle" *ngIf="item.selected" color="vibrant" item-start></ion-icon>
                        <text-avatar item-start [text]="item.BN" [color]="item.color">
    
                        </text-avatar>
                        <ion-label no-padding col-6 text-wrap>
                            <strong>{{ item.NAME }}</strong> [{{ item.S_A }}]
                            <p>Meal  : {{ item.MEAL }}</p>
                            <p>PNR : {{ item.PNR }} Quota : {{ item.QT }}</p>
                            <p>Tck Type: {{ item.TKT }} </p>
                            <p *ngIf="item.P_AMT">Pend. Amt : {{ item.P_AMT }}</p>
                            <p *ngIf="item.REMARKS">Remarks : {{ item.REMARKS }}</p>
                        </ion-label>
                        <ion-label no-padding text-wrap>
                                Frm:  <strong>{{ item.BRD }}</strong><br>
                                Brd:  <strong>{{ item.BRD }}</strong><br>
                                To:  <strong>{{ item.DEST }}</strong><br>
                                R upto:  <strong>{{ item.DEST }}</strong><br>
                        </ion-label>
                        <!-- <ion-label>{{ item.P_AMT }}<br>{{ item.REMARKS }}</ion-label> -->
                        <!-- <ion-label col-1 *ngIf="item._isLocked&&item.TU_NT" color="secondary">TU</ion-label>
                    <ion-label col-1 *ngIf="item._isLocked&&!item.TU_NT" color="danger">NT</ion-label> -->
                        <ion-label col-1 text-wrap [color]="item.color" style="font-size:large">
                            {{ item.status }}
                        </ion-label>
                    </button>
    
    
                </ion-card>
            </ion-list>

        <ion-list *ngIf="this.passengerSelectorViewObj.isActive">
                <ion-card *ngFor="let item of rows" [hidden]="item._hidden" [color]="item.selected?'favorite':'light'" [attr.padding-left]="item.selected?' ':null">
                    <button ion-item solid (tap)="checkBoxChanged(item)" (press)="checkBoxChanged(item)" padding>
                            <ion-icon name="checkmark-circle" *ngIf="item.selected" color="favorite" item-start></ion-icon>
                            <text-avatar item-start [text]="item.BN" [color]="item.color">
        
                            </text-avatar>
                            <ion-label no-padding col-6 text-wrap>
                                <strong>{{ item.NAME }}</strong> [{{ item.S_A }}]
                                <p>Meal  : {{ item.MEAL }}</p>
                                <p>PNR : {{ item.PNR }} Quota : {{ item.QT }}</p>
                                <p>Tck Type: {{ item.TKT }} </p>
                                <p *ngIf="item.P_AMT">Pend. Amt : {{ item.P_AMT }}</p>
                                <p *ngIf="item.REMARKS">Remarks : {{ item.REMARKS }}</p>
                            </ion-label>
                            <ion-label no-padding text-wrap>
                                    Frm:  <strong>{{ item.BRD }}</strong><br>
                                    Brd:  <strong>{{ item.BRD }}</strong><br>
                                    To:  <strong>{{ item.DEST }}</strong><br>
                                    R upto:  <strong>{{ item.DEST }}</strong><br>
                            </ion-label>
                            <!-- <ion-label>{{ item.P_AMT }}<br>{{ item.REMARKS }}</ion-label> -->
                            <!-- <ion-label col-1 *ngIf="item._isLocked&&item.TU_NT" color="secondary">TU</ion-label>
                        <ion-label col-1 *ngIf="item._isLocked&&!item.TU_NT" color="danger">NT</ion-label> -->
                            <ion-label col-1 text-wrap [color]="item.color" style="font-size:large">
                                {{ item.status }}
                            </ion-label>
                    </button>
    
    
                </ion-card>
            </ion-list>
    </ion-card>
    <ion-card  *ngIf="readonly">
        <ion-list>
            <ion-item *ngFor="let item of rows" [hidden]="item._hidden" padding>
                <!-- <ion-label col-2 *ngIf="!readonly" ><tristate-toggle [id] = "value"></tristate-toggle></ion-label> -->
                <!-- <ion-label col-1 *ngIf="item.IS_CHECKED&&item.TU_NT" color="secondary">TU</ion-label>
                <ion-label col-1 *ngIf="item.IS_CHECKED&&!item.TU_NT" color="royal">NT</ion-label>
                <ion-label col-1 *ngIf="!item.IS_CHECKED" >NC</ion-label> -->
                <ion-label col-1 color="{{item.color}}">{{ item.status }}</ion-label>
                <ion-label no-padding>{{ item.BN }} {{ item.QT }} </ion-label>
                <ion-label no-padding col-3>{{ item.PNR }}
                    <br>{{ item.TKT }}</ion-label>
                <ion-label no-padding col-4>{{ item.NAME }}
                    <br>{{ item.S_A }}-{{ item.MEAL }}</ion-label>
                <ion-label no-padding>{{ item.BRD }}
                    <br>{{ item.DEST }}</ion-label>
                <!-- <ion-label>{{ item.P_AMT }}<br>{{ item.REMARKS }}</ion-label> -->
            </ion-item>
        </ion-list>
    </ion-card>
    <div class="spacer" style="height: 60px;"></div>
</ion-content>