<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Search Page</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-searchbar [(ngModel)]="myInput" (ionInput)="onInput($event)"(ionCancel)="onCancel($event)"  padding-top popover>
 </ion-searchbar >

<!-- <ion-list *ngIf="">
 --> <ion-card *ngFor="let item of items" padding>
  <ion-item text-wrap>
    <ion-label>{{item.COACH_ID}}<br>{{item.BERTH_NO}}</ion-label>
    <ion-label>{{item.PNR_NO}}</ion-label>
    <ion-label>{{item.PSGN_NAME}}<br>{{item.AGE_SEX}}</ion-label>
    <ion-label>{{item.BOARDING_PT}}<br>{{item.RES_UPTO}}</ion-label>
   </ion-item>
  </ion-card>
<!-- </ion-list>
 --></ion-content>

<ion-footer>
    <button ion-button round color="primary" full (click)="close()">Close</button>
</ion-footer>
