<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WaitList</ion-title>
  </ion-navbar>
</ion-header>                         


<ion-content padding>
  <super-tabs *ngIf="classArrayFound" [scrollTabs]="classArray.length>10">
    <!-- <super-tab *ngFor="let tab of classArray" title="{{tab.CLASS}}" [root]="rootPage" [rootParams]="{class :tab.CLASS, readonly:false}"></super-tab> -->
    <super-tab *ngFor="let tab of classArray" title="{{tab}}" [root]="rootPage" [rootParams]="{class :tab, readonly:false}"></super-tab>
  </super-tabs>
</ion-content>