<ion-header>
  <ion-toolbar color="primary">
    <ion-title>NC Preview</ion-title>
     <ion-buttons end>
     <a ion-button icon-only (click)="modal_Close()">
      <ion-icon name="close"></ion-icon>
    </a>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
        <ion-list>
            <ion-item>
              <ion-label><strong>BN<br>QT/RS</strong></ion-label>
              <ion-label col-3><strong>PNR<br>TKT NO</strong></ion-label>
              <ion-label col-3><strong>NAME<br>S/A-MEAL</strong></ion-label>
              <ion-label><strong>SRC<br>BRD<br>DEST</strong></ion-label>
              <ion-label col-3><strong>P.AMT<br>REMARKS</strong></ion-label>
            </ion-item>
        </ion-list>
          <ion-item  *ngFor="let NT_item of NC_NT_PREVIEW">
            <ion-label>{{ NT_item.json.BERTH_NO }} {{ NT_item.json.PRIMARY_QUOTA }} {{ NT_item.json.REL_POS }}</ion-label>
            <ion-label col-3>{{ NT_item.json.PNR_NO }}<br>{{ NT_item.json.TICKET_NO }}</ion-label>
            <ion-label col-3>{{ NT_item.json.PSGN_NAME }}<br>{{ NT_item.json.AGE_SEX }}-{{ NT_item.json.FOOD_FLAG }}</ion-label>
            <ion-label>{{ NT_item.json.JRNY_FROM }}<br>{{ NT_item.json.BOARDING_PT }}<br>{{ NT_item.json.JRNY_TO }}</ion-label>
            <ion-label col-3>{{ NT_item.json.PENDING_AMT }}<br>{{ NT_item.json.REMARKS }}</ion-label>
          </ion-item>
           <ion-item  *ngFor="let TU_item of NC_TU_PREVIEW">
            <ion-label>{{ TU_item.json.BERTH_NO }} {{ TU_item.json.PRIMARY_QUOTA }} {{ TU_item.json.REL_POS }}</ion-label>
            <ion-label col-3>{{ TU_item.json.PNR_NO }}<br>{{ TU_item.json.TICKET_NO }}</ion-label>
            <ion-label col-3>{{ TU_item.json.PSGN_NAME }}<br>{{ TU_item.json.AGE_SEX }}-{{ TU_item.json.FOOD_FLAG }}</ion-label>
            <ion-label>{{ TU_item.json.JRNY_FROM }}<br>{{ TU_item.json.BOARDING_PT }}<br>{{ TU_item.json.JRNY_TO }}</ion-label>
            <ion-label col-3>{{ TU_item.json.PENDING_AMT }}<br>{{ TU_item.json.REMARKS }}</ion-label>
          </ion-item> 
    </ion-card>
</ion-content>
  <ion-footer>
    <button ion-button round color="primary" full id="NC_Confirm" (click)="CNF_SUBMIT()">CONFIRM</button>
</ion-footer>

