<ion-content  no-padding overflow-scroll=true>
<!--   <ion-card padding>
 -->    <ion-list *ngFor="let item of racBerth"  >
     
      <ion-card text-wrap >
        <ion-item *ngIf="item.ATTENDANCE_MARKER==='A'&&item.REMARKS==='-'" color=danger padding >
          <ion-label col-1 no-padding align=center>{{ item.BERTH_NO }}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PNR_NO }}<br>{{item.PRIMARY_QUOTA}}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PSGN_NAME }}<br>{{ item.AGE_SEX }}</ion-label>
          <ion-label col-1 no-padding align=center>{{ item.BOARDING_PT }}<br>{{ item.RES_UPTO }}</ion-label>
          <ion-label no-padding align=center>{{ item.ATTENDANCE_MARKER }}<br></ion-label>
          <ion-label no-padding align=center>{{item.REMARKS}}</ion-label>
        </ion-item>
      </ion-card>
      <ion-card  text-wrap>
        <ion-item *ngIf="item.ATTENDANCE_MARKER==='P'&&item.REMARKS==='-'" color=primary (Press)="showAlertPopup(item)"[(ngModel)]="item.BERTH_NO" padding>
          <ion-label col-1 no-padding align=center>{{ item.BERTH_NO }}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PNR_NO }}<br>{{item.PRIMARY_QUOTA}}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PSGN_NAME }}<br>{{ item.AGE_SEX }}</ion-label>
          <ion-label col-1 no-padding align=center>{{ item.BOARDING_PT }}<br>{{ item.RES_UPTO }}</ion-label>
          <ion-label no-padding align=center>{{ item.ATTENDANCE_MARKER }}<br></ion-label>
          <ion-label no-padding align=center>{{item.REMARKS}}</ion-label>
        </ion-item>
      </ion-card>
     <ion-card text-wrap >
        <ion-item *ngIf="item.ATTENDANCE_MARKER==='-'&&item.REMARKS==='-'" color=light padding>
          <ion-label col-1 no-padding align=center>{{ item.BERTH_NO }}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PNR_NO }}<br>{{item.PRIMARY_QUOTA}}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PSGN_NAME }}<br>{{ item.AGE_SEX }}</ion-label>
          <ion-label col-1 no-padding align=center>{{ item.BOARDING_PT }}<br>{{ item.RES_UPTO }}</ion-label>
          <ion-label no-padding align=center>{{ item.ATTENDANCE_MARKER }}<br></ion-label>
          <ion-label no-padding align=center>{{item.REMARKS}}</ion-label>
        </ion-item>
      </ion-card>
       <ion-card  text-wrap>
        <ion-item *ngIf="item.ATTENDANCE_MARKER==='P'&&item.REMARKS==='RAC_CNF'" color=secondary padding>
          <ion-label col-1 no-padding align=center>{{ item.BERTH_NO }}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PNR_NO }}<br>{{item.PRIMARY_QUOTA}}</ion-label>
          <ion-label col-3 no-padding align=center>{{ item.PSGN_NAME }}<br>{{ item.AGE_SEX }}</ion-label>
          <ion-label col-1 no-padding align=center>{{ item.BOARDING_PT }}<br>{{ item.RES_UPTO }}</ion-label>
          <ion-label no-padding align=center>{{ item.ATTENDANCE_MARKER }}<br></ion-label>
          <ion-label no-padding align=center>{{item.REMARKS}}</ion-label>
        </ion-item>
      </ion-card> 
    </ion-list>
<!--   </ion-card>
 --></ion-content>