<ion-content no-padding overflow-scroll=true>
  <ion-list>
    <ion-card >
       <ion-row *ngIf="racBerth.length == 0">
        <ion-col align=center><font color="red">NO<br> RAC PASSENGER <br>IN <br>THIS COACH</font></ion-col>
      </ion-row>
    </ion-card>
    <ion-card text-wrap *ngFor="let item of racBerth">
     

      <ion-row *ngIf="item.value[0].ATTENDANCE_MARKER==='-'&&item.value[1].ATTENDANCE_MARKER==='-'" color=light padding align-items-center>
        <ion-col col-1 no-padding align=center>
          <ion-avatar item-start>{{ item.berthNo }}</ion-avatar>
        </ion-col>
        <ion-col col-11 no-padding align=center>
          <ion-row *ngFor="let psng of item.value">
            <ion-col>{{ psng.PSGN_NAME }}<br>{{psng.AGE_SEX }}</ion-col>
            <ion-col>{{ psng.PNR_NO }}<br>{{psng.PRIMARY_QUOTA}} {{psng.NEW_PRIMARY_QUOTA}}</ion-col>
            <ion-col>{{ psng.BOARDING_PT }}<br>{{ psng.RES_UPTO }}</ion-col>
            <ion-col>{{ psng.ATTENDANCE_MARKER }}<br>{{psng.REMARKS}}</ion-col>
            <hr>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.value[0].ATTENDANCE_MARKER==='A'&&item.value[1].ATTENDANCE_MARKER==='A'" color=light padding align-items-center
      (Press)="showAlertPopup(item)">
        <ion-col col-1 no-padding align=center>
          <ion-avatar item-start>{{ item.berthNo }}</ion-avatar>
        </ion-col>
        <ion-col col-11 no-padding align=center>
          <ion-row *ngFor="let psng of item.value">
            <ion-col>{{ psng.PSGN_NAME }}<br>{{psng.AGE_SEX }}</ion-col>
            <ion-col>{{ psng.PNR_NO }}<br>{{psng.PRIMARY_QUOTA}} {{psng.NEW_PRIMARY_QUOTA}}</ion-col>
            <ion-col>{{ psng.BOARDING_PT }}<br>{{ psng.RES_UPTO }}</ion-col>
            <ion-col>{{ psng.ATTENDANCE_MARKER }}<br>{{psng.REMARKS}}</ion-col>
            <hr>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.value[0].ATTENDANCE_MARKER==='P'||item.value[1].ATTENDANCE_MARKER==='P'" color=secondary padding align-items-center
        (Press)="showAlertPopup(item)">
        <ion-col col-1 no-padding align=center>{{ item.berthNo }}</ion-col>
        <ion-col col-11 no-padding align=center>
          <ion-row *ngFor="let psng of item.value">
            <ion-col>{{ psng.PSGN_NAME }}<br>{{ psng.AGE_SEX }}</ion-col>
            <ion-col>{{ psng.PNR_NO }}<br>{{psng.PRIMARY_QUOTA}} {{psng.NEW_PRIMARY_QUOTA}}</ion-col>
            <ion-col>{{ psng.BOARDING_PT }}<br>{{ psng.RES_UPTO }}</ion-col>
            <ion-col>{{ psng.ATTENDANCE_MARKER }}<br>{{psng.REMARKS}}</ion-col>
            <hr>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>
</ion-content>