<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EFT</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (tap)="tapEvent($event)">
    <ion-fab bottom right>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-card>
  
  <ion-item color="mediumgraycustom">
      <ion-label><strong>EFT NO<br>NO OF PSGN</strong></ion-label>
      <ion-label><strong>SRC<br>DEST</strong></ion-label>
      <ion-label><strong>FARE<br>EXCESS FARE<br>GST</strong></ion-label>
      <ion-label><strong>REASON<BR>TOTAL FARE<BR>EFT DATE</strong></ion-label>
  </ion-item>
  <ion-card *ngFor="let item of eftList" padding-left color="primary">
      <button ion-item padding>
          <ion-label text-wrap>{{item.json.EFT_NO}}<br>{{item.json.NUM_OF_PSGN}}</ion-label>
          <ion-label text-wrap>{{item.json.SRC}}<br>{{item.json.DEST}}</ion-label>
          <ion-label text-wrap>{{item.json.FARE}}<br>{{item.json.FINE}}<br>{{item.json.GST}}</ion-label>
          <ion-label text-wrap>{{item.json.REASON}}<br>{{getTotal(item.json.FARE,item.json.FINE,item.json.GST)}}<br>{{item.json.EFT_DATE}}</ion-label>
          <!-- <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            Hello people
          </expandable> -->
      </button>
      <ion-list ng-if="!item.open">

      </ion-list>
  </ion-card>
</ion-content>